
.bg-subtle {
   background-color: hsl(from var(--bs-primary) h s 10% / 1);
}

.buy-text {
   /* color: hsl(from var(--bs-orange) calc(h * 0) calc(s * 0 + 100) calc(l * 0 + 50) / 1); */
}

.sell-text {
   /* color: hsl(from var(--bs-orange) calc(h + 100) s l / 1); */
}

.name-web {
   background-color: hsl(from var(--bs-orange) calc(h + 100) s l / 1);
   color: hsl(from var(--bs-black) h s l / 1);
   font-weight: bold;
   padding: 5px 10px;
   border-radius: 20px;
   display: inline-block;
   rotate: -10deg;
}

.and-sign {
   scale: 1.6;
   font-style: italic;
   display: inline-block;
   rotate: -20deg;
   margin-left: -10px;
   margin-right: 20px;
   color: hsl(from var(--bs-orange) calc(h + 100) s l / 1);
}

.gradient {
   background: hsl(from var(--bs-orange) h s l / 1);
   background: linear-gradient(
      80deg,
      hsl(from var(--bs-red) h s l / 1) 10%,
      hsl(from var(--bs-orange) calc(h + 100) s l / 1) 30%,
      hsl(from var(--bs-yellow) calc(h) s l / 1) 80%
   );
   background-clip: text;
   color: transparent;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}

.banner-btn {
   --banner-shadow: 1px 1px 10px rgb(from var(--bs-black) r g b / 0.2);

   transition: all 0.4s ease;
   interpolate-size: allow-keywords;
   font-size: 1.2rem;
   border-radius: 100px;

   span,
   i {
      transition: all 0.4s ease;
      interpolate-size: allow-keywords;
      padding: 5px 10px;
   }

   i {
      border-radius: 50%;
      display: none;
      size: 0;
      visibility: hidden;
      opacity: 0;
      -webkit-text-stroke: 1px;
   }

   &:hover {
      span {
         margin-right: 80px;
         text-align: start;
      }
      i {
         background-color: hsl(from var(--bs-black) h s l / 1);
         color: hsl(from var(--bs-black) h s 100% / 1);
         display: block;
         size: 1;
         visibility: visible;
         opacity: 1;
         animation: rotate 0.3s ease-in 1;
      }
   }

   &:first-child {
      background-color: hsl(from var(--bs-orange) calc(h + 100) s l / 1);
      color: hsl(from var(--bs-black) h s l / 1);
      box-shadow: var(--banner-shadow);
      &:hover {
         /* background-color: hsl(from var(--bs-orange) calc(h - 10) s l / 1); */
         background-color: hsl(from var(--bs-orange) calc(h + 100) s l / 1);
         color: hsl(from var(--bs-black) h s l / 1);
      }
   }
   &:last-child {
      color: hsl(from var(--bs-black) h s l / 1);
      background-color: hsl(from var(--bs-black) h s 100% / 1);
      box-shadow: var(--banner-shadow);
      &:hover {
         background-color: hsl(from var(--bs-black) h s 100% / 1);
         i {
            background-color: hsl(from var(--bs-black) h s l / 1);
            color: hsl(from var(--bs-white) h s l / 1);
         }
      }
   }
}

.gif {
   display: grid;
   grid-template-columns: repeat(50%, 2);
   align-items: center;
   gap: 10px;
   padding: 10px;

   .text1,
   .text2 {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      padding: 20px;
      gap: 20px;

      i {
         border-radius: 20px;
         font-size: 50px;
      }
   }

   h1,
   h2,
   h3,
   h4 {
      width: 79%;
      font-weight: bolder;
   }
   .img1,
   .img2 {
      width: 100%;
      height: 100%;
      border-radius: 20px;
   }

   .img1 {
      grid-column: 2;
   }

   .text1 {
      grid-row: 1;
      background-color: hsl(from var(--bs-red) h s 10%);
      /* border: 1px solid hsl(from var(--bs-red) h s l / 1); */
      color: hsl(from var(--bs-red) h s l / 1);
   }

   .text2 {
      grid-column: 2;
      background-color: hsl(from var(--bs-primary) h s 10%);
      /* border: 1px solid hsl(from var(--bs-green) h s l / 1); */
      color: hsl(from var(--bs-primary) h s l / 1);

      i {
         color: hsl(from var(--bs-primary) h s l / 1);
      }
   }
   .img2 {
      grid-column: 1;
   }

   & + div {
      .img3 {
         width: 150px;
         position: absolute;
         top: -30px;
         left: 10px;
      }

      .img4 {
         width: 120px;
         position: absolute;
         bottom: 10px;
         right: 0px;
      }
   }
}

@keyframes rotate {
   from {
      rotate: 0;
   }
   to {
      rotate: 360deg;
   }
}

.custom {
   background-color: hsl(from var(--bs-primary) h s 100% / 1);
   transition: all 0.3s ease;
   &:hover {
      background-color: hsl(from var(--bs-primary) h s 10% / 1);
   }
}

.card {
   background-color: hsl(from var(--bs-primary) h s 10%);
   color: var(--bs-white);
   /* clip-path: path("MZ"); */
}